body{
    background-color: rgb(103, 104, 105);
}
#main{

    height: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#timer{
    font-size: xx-large;
    font-weight: bolder;
}